// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette 
$color-red-principal: #9d0208;
$color-orange: #e85d04;
$color-yellow: #ffba08;

